
.pageloader {
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  position: fixed;
  transition: all 0.7s ease-in-out;
  background: white;
  transform: rotate(2deg);

  &.slowlyhide {
    transition: all 0.3s ease-in-out;
  }

  &.remove {
    opacity: 0;
    visibility: hidden;
    z-index: -9999;
  }
}
