.select {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

label {
  margin: 0;
}

input {
  border-radius: 0 !important;
}

