
					/* Webkit */
			::selection {
			background: #003918;
			}
							/* Gecko/Mozilla */
			::-moz-selection {
			background: #003918;
			}
		
		
			h1 a:hover,
			.box_image_holder .box_icon .fa-stack i.fa-stack-base,
			.q_percentage_with_icon,
			.filter_holder ul li.active span,
			.filter_holder ul li:hover span,
			.q_tabs .tabs-nav li.active a:hover,
			.q_tabs .tabs-nav li a:hover,
			.q_accordion_holder.accordion .ui-accordion-header:hover,
			.q_accordion_holder.accordion.with_icon .ui-accordion-header i,
			.testimonials .testimonial_text_inner p.testimonial_author span.author_company,
			.testimonial_content_inner .testimonial_author .company_position,
			.q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
			.q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
			.q_icon_with_title.boxed .icon_holder .fa-stack,
			.q_progress_bars_icons_inner .bar.active i.fa-circle,
			.q_list.number ul>li:before,
			.q_social_icon_holder:hover .simple_social,
			.social_share_dropdown ul li :hover i,
			.social_share_list_holder ul li i:hover,
			.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
			.latest_post_inner .post_infos a:hover,
			.q_masonry_blog article .q_masonry_blog_post_info a:hover,
			.blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
			.latest_post_inner .post_comments:hover i,
			.blog_holder article .post_description a:hover,
			.blog_holder article .post_description .post_comments:hover,
			.blog_like a:hover i,
			.blog_like a.liked i,
			.latest_post .blog_like a:hover span,
			article:not(.format-quote):not(.format-link) .blog_like a:hover span,
			.comment_holder .comment .text .replay,
			.comment_holder .comment .text .comment-reply-link,
			.header-widget.widget_nav_menu ul.menu li a:hover,
			aside .widget a:hover,
			aside .widget.posts_holder li:hover,
			.wpb_widgetised_column .widget a:hover,
			.wpb_widgetised_column .widget.posts_holder li:hover,
			.q_steps_holder .circle_small:hover span,
			.q_steps_holder .circle_small:hover .step_title,
			.header_top #lang_sel > ul > li > a:hover,
			.header_top #lang_sel_click > ul > li> a:hover,
			.header_top #lang_sel_list ul li a.lang_sel_sel,
			.header_top #lang_sel_list ul li a:hover,
			aside .widget #lang_sel a.lang_sel_sel:hover,
			aside .widget #lang_sel_click a.lang_sel_sel:hover,
			aside .widget #lang_sel ul ul a:hover,
			aside .widget #lang_sel_click ul ul a:hover,
			aside .widget #lang_sel_list li a.lang_sel_sel,
			aside .widget #lang_sel_list li a:hover,
			.wpb_widgetised_column .widget #lang_sel a.lang_sel_sel:hover,
			.wpb_widgetised_column .widget #lang_sel_click a.lang_sel_sel:hover,
			.wpb_widgetised_column .widget #lang_sel ul ul a:hover,
			.wpb_widgetised_column .widget #lang_sel_click ul ul a:hover,
			.wpb_widgetised_column .widget #lang_sel_list li a.lang_sel_sel,
			.wpb_widgetised_column .widget #lang_sel_list li a:hover,
			.service_table_inner li.service_table_title_holder i,
			.latest_post_two_holder .latest_post_two_text a:hover,
							.myaccount_user a,
				.woocommerce .select2-results li.select2-highlighted,
				.woocommerce-page .select2-results li.select2-highlighted,
				.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,
				.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,
				.woocommerce ins, .woocommerce-page ins,
				.woocommerce ul.products li.product:hover h6,
				.woocommerce div.product div.product_meta > span a:hover,
				.woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
				.woocommerce-page div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
				.woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong,
				.woocommerce .checkout-opener-text a,
				.woocommerce form.checkout table.shop_table tfoot tr.order-total th,
				.woocommerce form.checkout table.shop_table tfoot tr.order-total td span.amount,
				.woocommerce aside ul.product_list_widget li > a:hover,
				.woocommerce aside ul.product-categories li > a:hover,
				.woocommerce aside ul.product_list_widget li span.amount,
				aside ul.product_list_widget li span.amount,
				.woocommerce aside .widget ul.product-categories a:hover,
				.woocommerce-page aside .widget ul.product-categories a:hover,
				.wpb_widgetised_column ul.product_list_widget li > a:hover,
				.wpb_widgetised_column ul.product-categories li > a:hover,
				.wpb_widgetised_column ul.product_list_widget li span.amount,
				.wpb_widgetised_column .widget ul.product-categories a:hover,
				.shopping_cart_header .header_cart:hover i,
				.woocommerce-product-rating a:hover,
				.select2-container--default.select2-container--open .select2-selection--single,
				.select2-container--default .select2-results__option[aria-selected=true],
				.select2-container--default .select2-results__option--highlighted[aria-selected],
						.q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
			.portfolio_template_8 .portfolio_detail .info .category,
			.portfolio_navigation.navigation_title .post_info span.categories,
			.qode_portfolio_related .projects_holder article .portfolio_description .project_category,
			.blog_compound article .post_content .blog_like a:hover,
			.blog_compound article .post_content .blog_like a:hover span,
			.blog_compound article .post_content .blog_share a:hover,
			.blog_compound article .post_content .blog_share a:hover span,
			.blog_compound article .post_content .post_comments:hover,
			.blog_compound article .post_content .post_comments:hover span,
			.blog_holder.blog_pinterest article.format-link .post_info a:hover,
			.blog_holder.blog_pinterest article.format-quote .post_info a:hover,
			.blog_compound .post_title .category a,
			.blog_compound .post_title .category span.date,
			.q_price_table.qode_pricing_table_advanced .qode_pt_subtitle,
			.q_price_table.qode_pricing_table_advanced .qode_pt_additional_info .qode_pt_icon,
			.q_price_table.qode_pricing_table_advanced .price_table_inner .value,
			table.tt_timetable .event .event_header,
			table.tt_timetable .event a,
			.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
			.tt_tabs .tt_tabs_navigation li a:hover,
			.qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon,
			.qode-owl-slider .owl-nav .owl-next:hover .qode-prev-icon,
			.qode-owl-slider .owl-nav .owl-prev:hover .qode-next-icon,
			.qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
			.qode-owl-slider-style .owl-nav .owl-next:hover .qode-next-icon,
			.qode-owl-slider-style .owl-nav .owl-next:hover .qode-prev-icon,
			.qode-owl-slider-style .owl-nav .owl-prev:hover .qode-next-icon,
			.qode-owl-slider-style .owl-nav .owl-prev:hover .qode-prev-icon
			{
			color: #222222 !important;
			}
			h2 a:hover,
			h3 a:hover,
			h4 a:hover,
			h5 a:hover,
			h6 a:hover,
			a:hover,
			p a:hover,
			.portfolio_share .social_share_holder a:hover,
			.breadcrumb .current,
			.breadcrumb a:hover,
			.q_icon_with_title .icon_with_title_link,
			.q_counter_holder span.counter,
			.q_font_awsome_icon i,
			.q_font_awsome_icon span,
			.q_dropcap,
			.q_counter_holder span.counter,
			nav.mobile_menu ul li a:hover,
			nav.mobile_menu ul li.active > a,
			.q_progress_bars_icons_inner.square .bar.active i,
			.q_progress_bars_icons_inner.circle .bar.active i,
			.q_progress_bars_icons_inner.normal .bar.active i,
			.q_font_awsome_icon_stack .fa-circle,
			.footer_top .q_social_icon_holder:hover .simple_social,
			.more_facts_button:hover,
			.box_holder_icon .fa-stack i,
			.blog_large_image_simple .minimalist_date,
			nav.content_menu ul li.active:hover i,
			nav.content_menu ul li:hover i,
			nav.content_menu ul li.active:hover a,
			nav.content_menu ul li:hover a,
			.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
			.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
			.q_font_awsome_icon i:hover,
			.q_font_awsome_icon span:hover,
			.fullscreen_search_holder .search_submit:hover,
			.title .text_above_title,
			.qode-comparative-features-table .qode-cft-link:hover,
			.qode-comparative-features-table .qode-cft-mark.qode-cft-active,
			.qode-blog-carousel-titled .qode-bct-post .qode-bct-post-date,
			.qode-showcase-icon .qode-icon-holder.qode-icon-circle .qode-icon-element,
			.qode-horizontal-timeline .qode-timeline-navigation a.qode-prev,
			.qode-horizontal-timeline .qode-timeline-navigation a.qode-next
			{

			color: #222222;
			}

			.box_image_with_border:hover,
			.qbutton:hover,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			#submit_comment:hover,
			.drop_down .wide .second ul li .qbutton:hover,
			.drop_down .wide .second ul li ul li .qbutton:hover,
			.qbutton.white:hover,
			.qbutton.green,
			.portfolio_slides .hover_feature_holder_inner .qbutton:hover,
			.testimonials_holder.light .flex-direction-nav a:hover,
			.q_progress_bars_icons_inner.square .bar.active .bar_noactive,
			.q_progress_bars_icons_inner.square .bar.active .bar_active,
			.q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
			.q_progress_bars_icons_inner.circle .bar.active .bar_active,
			.widget.widget_search form.form_focus,
			.q_steps_holder .circle_small_wrapper,
			.animated_icon_inner span.animated_icon_back i,
			body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
			body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner,
							.woocommerce .button:hover,
				.woocommerce-page .button:hover,
				.woocommerce #submit:hover,
				.woocommerce ul.products li.product a.qbutton:hover,
				.woocommerce-page ul.products li.product a.qbutton:hover,
				.woocommerce ul.products li.product .added_to_cart:hover,
						input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
			.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected{
			border-color: #222222			}

			.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
			.tt_tabs .tt_tabs_navigation li a:hover,
			.tt_tabs .tt_tabs_navigation li a{
			border-color: #222222 !important;
			}

			.q_icon_list i,
			.q_progress_bar .progress_content,
			.q_progress_bars_vertical .progress_content_outer .progress_content,
			.qbutton:hover,
			.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
			.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
			.post-password-form input[type='submit']:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			#submit_comment:hover,
			.drop_down .wide .second ul li .qbutton:hover,
			.drop_down .wide .second ul li ul li .qbutton:hover,
			.qbutton.white:hover,
			.qbutton.green,
			.call_to_action,
			.highlight,
			.testimonials_holder.light .flex-direction-nav a:hover,
			.q_dropcap.circle,
			.q_dropcap.square,
			.q_message,
			.q_price_table.active .active_text,
			.q_icon_with_title.boxed .icon_holder .fa-stack,
			.q_font_awsome_icon_square,
			.q_icon_with_title.square .icon_holder .fa-stack:hover,
			.box_holder_icon_inner.square .fa-stack:hover,
			.box_holder_icon_inner.circle .fa-stack:hover,
			.circle .icon_holder .fa-stack:hover,
			.q_list.number.circle_number ul>li:before,
			.q_social_icon_holder.circle_social .fa-stack:hover,
			.social_share_dropdown ul li.share_title,
			.latest_post_holder .latest_post_date .post_publish_day,
			.q_masonry_blog article.format-link:hover,
			.q_masonry_blog article.format-quote:hover,
			#wp-calendar td#today,
			.vc_text_separator.full div,
			.mejs-controls .mejs-time-rail .mejs-time-current,
			.mejs-controls .mejs-time-rail .mejs-time-handle,
			.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
			.wp-audio-shortcode .mejs-controls .mejs-time-rail .mejs-time-current,
			.wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
			.q_pie_graf_legend ul li .color_holder,
			.q_line_graf_legend ul li .color_holder,
			.q_team .q_team_text_inner .separator,
			.circle_item .circle:hover,
			.qode_call_to_action.container,
			.qode_carousels .flex-control-paging li a.flex-active,
			.animated_icon_inner span.animated_icon_back i,
							.woocommerce .button:hover,
				.woocommerce-page .button:hover,
				.woocommerce #submit:hover,
				.woocommerce ul.products li.product a.qbutton:hover,
				.woocommerce-page ul.products li.product a.qbutton:hover,
				.woocommerce ul.products li.product .added_to_cart:hover,
				.woocommerce .quantity .minus:hover,
				.woocommerce #content .quantity .minus:hover,
				.woocommerce-page .quantity .minus:hover,
				.woocommerce-page #content .quantity .minus:hover,
				.woocommerce .quantity .plus:hover,
				.woocommerce #content .quantity .plus:hover,
				.woocommerce-page .quantity .plus:hover,
				.woocommerce-page #content .quantity .plus:hover,
				.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
				.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,
						.q_circles_holder .q_circle_inner2:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
			.portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
			.portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
			.portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
			.qode_video_box .qode_video_image:hover .qode_video_box_button,
			.blog_holder.masonry_gallery article.format-link:hover,
			.blog_holder.masonry_gallery article.format-quote:hover,
			.blog_holder.blog_chequered article.format-link:hover,
			.blog_holder.blog_chequered article.format-quote:hover,
			.qode-pricing-calculator .qode-pricing-calculator-switch input:checked+.qode-pricing-calculator-slider,
			.qode-icon-holder.qode-icon-circle,
			.qode-icon-holder.qode-icon-square,
			.qode-qbutton-main-color,
			.qode-advanced-tabs .qode-advanced-tabs-nav li,
			.qode-accordion-holder .qode-title-holder.ui-state-active,
			.qode-accordion-holder .qode-title-holder.ui-state-hover,
			header.menu_bottom .header_bottom_right_widget_holder .header_bottom_widget.widget_search form>div input[type=text],
			.qode-advanced-call-to-action.qode-advanced-cta-gradient-animation .qode-advanced-cta-background-3,
			.tt_tabs .tt_tabs_navigation li a,
			.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected,
			.tabs_box_navigation.sf-timetable-menu li ul li a:hover,
			.tabs_box_navigation.sf-timetable-menu li ul li.selected a:hover,
			#qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner .qode-mds-pulse,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events .qode-filling-line,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events a .circle-outer,
			.no-touch .qode-horizontal-timeline .qode-events-wrapper .qode-events a:hover .circle-outer,
			.qode-horizontal-timeline .qode-events-wrapper .qode-events a.selected .circle-outer
			{
			background-color: #222222;
			}


			.qode-showcase-item-holder.qode-showcase-active .qode-icon-holder.qode-icon-circle{
			background-color: #222222 !important;
			}

			.q_circles_holder .q_circle_inner2:hover,
			body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
			body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner {
			background-color: #222222 !important;
			border-color: #222222 !important;
			}

			.qode-lazy-preloader svg circle,
			#qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner svg circle {
			stroke: #222222			}
		
		
								
					body{
											font-family: 'Lato', sans-serif;
						 color: #5f5f5f; 			 font-size: 16px; 			font-weight: 300;			}
											
					.transparent_content,
			.transparent_content.overlapping_content .content .content_inner > .container,
			.transparent_content.overlapping_content .content .content_inner > .full_width > .full_width_inner{
							background-color: #ffffff;
			
			
			
			}

		
		
		
																
		


		
						
		
		
		

														.content{
					margin-top: -110px;
					}
				
					
					.logo_wrapper,
			.side_menu_button,
			.shopping_cart_inner
			{
			height: 110px;
			}
			.content.content_top_margin{
			margin-top: 110px !important;
			}

			header:not(.centered_logo) .header_fixed_right_area {
			line-height: 110px;
			}

								
					header.sticky .logo_wrapper,
			header.sticky.centered_logo .logo_wrapper,
			header.sticky .side_menu_button,
			header.sticky .shopping_cart_inner
			{
			height: 50px !important;
			}

			header.sticky nav.main_menu > ul > li > a,
			.light.sticky nav.main_menu > ul > li > a,
			.light.sticky nav.main_menu > ul > li > a:hover,
			.light.sticky nav.main_menu > ul > li.active > a,
			.dark.sticky nav.main_menu > ul > li > a,
			.dark.sticky nav.main_menu > ul > li > a:hover,
			.dark.sticky nav.main_menu > ul > li.active > a {
			line-height: 50px;
			}
		
					header.sticky .header_bottom,
			header.fixed.scrolled .header_bottom,
			header.fixed_hiding.scrolled .header_bottom{
			box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			}
		
		
						header.fixed_hiding .q_logo a,
				header.fixed_hiding .q_logo{
				max-height: 389px;
				}
				
		
		
		
							nav.main_menu > ul > li > a{
			line-height: 110px;
			}
		
		
		
					nav.main_menu > ul > li > a{
			 color: #000000; 							font-family: 'Lato', sans-serif;
						 font-size: 12px; 						 font-style: normal; 			 font-weight: 700; 			 letter-spacing: 3px; 			 text-transform: uppercase; 			}

		
					nav.main_menu > ul > li > a{
			padding: 0 25px;
			}
			header.transparent .drop_down .second:not(.right){
			left: 24px;
			}
		
					nav.main_menu ul li:hover a {
			 color: #555555; 			}
		
					nav.main_menu ul li.active a {
			color: #555555			}
			
		

		

																		

					header.scrolled nav.main_menu > ul > li > a,
			header.light.scrolled nav.main_menu > ul > li > a,
			header.dark.scrolled nav.main_menu > ul > li > a{
									 font-size: 12px; 						 font-style: normal;  			font-weight: 400; 			letter-spacing: 5px; 			text-transform: uppercase; 			}
						
		
		
		
					nav.mobile_menu ul li a,
			nav.mobile_menu ul li h3{
			 color: #000000; 							font-family: 'Antic Didone', sans-serif;
						 font-size: 12px; 						 font-style: normal; 			 font-weight: 600; 							letter-spacing: 4px;
										text-transform: uppercase;
						}

		
					nav.mobile_menu ul li span.mobile_arrow i, nav.mobile_menu ul li span.mobile_arrow i {
			color: #000000;
			}
		
					nav.mobile_menu ul li a:hover,
			nav.mobile_menu ul li.active > a,
			nav.mobile_menu ul li.current-menu-item > a{
			color: #003918;
			}
				
									#respond textarea,
			#respond input[type='text'],
			#respond input[type='email'],
			.contact_form input[type='text'],
			.contact_form  textarea,
			.comment_holder #respond textarea,
			.comment_holder #respond input[type='text'],
			.comment_holder #respond input[type='email'],
			input.wpcf7-form-control.wpcf7-text,
			input.wpcf7-form-control.wpcf7-number,
			input.wpcf7-form-control.wpcf7-date,
			textarea.wpcf7-form-control.wpcf7-textarea,
			select.wpcf7-form-control.wpcf7-select,
			input.wpcf7-form-control.wpcf7-quiz,
			.post-password-form input[type='password']
			{
			background-color: #fafafa; 			border: 1px solid #fafafa; 			color:#818181; 			}
		
					.woocommerce input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce input[type='password'],
			.woocommerce input[type='email'],
			.woocommerce-page input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce-page input[type='password'],
			.woocommerce-page input[type='email'],
			.woocommerce-page input[type='tel'],
			.woocommerce textarea,
			.woocommerce-page textarea,
			.woocommerce .select2-container .select2-choice,
			.woocommerce-page .select2-container .select2-choice,
			.woocommerce .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
			.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices,
			.select2-results, .select2-drop,
			.woocommerce div.cart-collaterals .select2-container .select2-choice,
			.woocommerce-page div.cart-collaterals .select2-container .select2-choice,
			.woocommerce div.cart-collaterals .select2-container .select2-choice,
			.woocommerce-page div.cart-collaterals .select2-container .select2-choice,
			.woocommerce div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce-page div.cart-collaterals .select2-dropdown-open.select2-drop-above .select2-choice {
			background-color: #fafafa			}
		
					.woocommerce input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce input[type='password'],
			.woocommerce input[type='email'],
			.woocommerce-page input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce-page input[type='password'],
			.woocommerce-page input[type='email'],
			.woocommerce-page input[type='tel'],
			.woocommerce textarea,
			.woocommerce-page textarea,
			.woocommerce .select2-container .select2-choice,
			.woocommerce-page .select2-container .select2-choice,
			.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce div.cart-collaterals .select2-container .select2-choice,
			.woocommerce-page div.cart-collaterals .select2-container .select2-choice {
			border: 1px solid #fafafa			}
		
					.woocommerce input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce input[type='password'],
			.woocommerce input[type='email'],
			.woocommerce-page input[type='text']:not(.qode_search_field):not(.qty),
			.woocommerce-page input[type='password'],
			.woocommerce-page input[type='email'],
			.woocommerce-page input[type='tel'],
			.woocommerce textarea,
			.woocommerce-page textarea,
			.woocommerce .select2-container .select2-choice,
			.woocommerce-page .select2-container .select2-choice,
			.woocommerce .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
			.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
			.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices,
			.select2-results, .select2-drop,
			.woocommerce .select2-container .select2-choice .select2-arrow .select2-arrow:after,
			.woocommerce-page .select2-container .select2-choice .select2-arrow:after {
			color: #818181			}
		
					h1,
			.h1,
			.title h1,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title{
				color: #000000; 							font-family: 'Lato', sans-serif;
						font-size: 56px; 			line-height: 66px; 			font-style: normal; 			font-weight: 900; 			letter-spacing: 5px; 			text-transform: uppercase; 			}
				
		
									.title.title_size_large h1{
			font-size: 43px; 			line-height: 53px; 			font-weight: 400; 			letter-spacing: 8px; 			text-transform: uppercase; 			}
							h2,
			.h2,
			h2 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			color: #000000; 							font-family: 'Lato', sans-serif;
						font-size: 43px; 			line-height: 53px; 			font-style: normal; 			font-weight: 900; 			letter-spacing: 5px; 			text-transform: uppercase; 			}
							h3,
			.h3,
			h3 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
			color: #000000; 							font-family: 'Lato', sans-serif;
						font-size: 28px; 			line-height: 38px; 			font-style: normal; 			font-weight: 900; 			letter-spacing: 5px; 			text-transform: uppercase; 			}
							h4,
			.h4,
			h4 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			color: #000000; 							font-family: 'Lato', sans-serif;
						font-size: 24px; 			line-height: 34px; 			font-style: normal; 			font-weight: 700; 			letter-spacing: 5px; 			text-transform: uppercase; 			}
							h5,
			.h5,
			h5 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title,
			.q_icon_with_title .icon_text_holder h5.icon_title{
			color: #003918; 							font-family: 'Catamaran', sans-serif;
						font-size: 24px; 			line-height: 34px; 			font-style: normal; 			font-weight: 400; 			letter-spacing: 2.4px; 			text-transform: none; 			}
							h6,
			.h6,
			h6 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h6.elementor-heading-title {
			color: #5f5f5f; 							font-family: 'Catamaran', sans-serif;
						font-size: 19px; 			line-height: 32px; 			font-style: normal;  			font-weight: 300; 			letter-spacing: 0px; 			text-transform: none; 			}

		

					p,
            body.qode-overridden-elementors-fonts .elementor-widget-heading p.elementor-heading-title {
			color: #5f5f5f;							font-family: 'Catamaran', sans-serif;
						font-size: 16px;			line-height: 28px;			font-style: normal;			font-weight: 300;									}
			.filter_holder ul li span,
			blockquote h5,
			.q_social_icon_holder .simple_social,
			.header-widget.widget_nav_menu ul.menu li a,
			.side_menu a,
			.side_menu li,
			.side_menu span,
			.side_menu p,
			.side_menu .widget.widget_rss li a.rsswidget,
			.side_menu #wp-calendar caption,
			.side_menu #wp-calendar th,
			.side_menu #wp-calendar td,
			aside .widget #lang_sel_list li a,
			aside .widget #lang_sel li a,
			aside .widget #lang_sel_click li a,
			.wpb_widgetised_column .widget #lang_sel_list li a,
			.wpb_widgetised_column .widget #lang_sel li a,
			.wpb_widgetised_column .widget #lang_sel_click li a,
			section.side_menu #lang_sel_list li a,
			section.side_menu #lang_sel li a,
			section.side_menu #lang_sel_click li a,
			footer #lang_sel_list li a,
			footer #lang_sel li a,
			footer #lang_sel_click li a,
			footer #lang_sel_list.lang_sel_list_horizontal a,
			footer #lang_sel_list.lang_sel_list_vertical a,
			.side_menu #lang_sel_list.lang_sel_list_horizontal a,
			.side_menu #lang_sel_list.lang_sel_list_vertical a,
			#lang_sel_footer a{
			color: #5f5f5f;			}
			.header_top #lang_sel > ul > li > a,
			.header_top #lang_sel_click > ul > li> a,
			footer #lang_sel ul li a,
			footer #lang_sel ul ul a,
			footer #lang_sel_click ul li a,
			footer #lang_sel_click ul ul a,
			footer #lang_sel_click ul ul a span,
			section.side_menu #lang_sel ul li a,
			section.side_menu #lang_sel ul ul a,
			section.side_menu #lang_sel ul ul a:visited,
			section.side_menu #lang_sel_click > ul > li > a,
			section.side_menu #lang_sel_click ul ul a,
			section.side_menu #lang_sel_click ul ul a:visited{
			color: #5f5f5f !important;			}
							.woocommerce del,
				.woocommerce-page del,
				.woocommerce input[type='text']:not(.qode_search_field),
				.woocommerce input[type='password'],
				.woocommerce input[type='email'],
				.woocommerce-page input[type='text']:not(.qode_search_field),
				.woocommerce-page input[type='password'],
				.woocommerce-page input[type='email'],
				.woocommerce-page input[type='tel'],
				.woocommerce textarea,
				.woocommerce-page textarea,
				.woocommerce .select2-container .select2-choice,
				.woocommerce-page .select2-container .select2-choice,
				.woocommerce .select2-dropdown-open.select2-drop-above .select2-choice,
				.woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
				.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
				.woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices,
				.woocommerce .chosen-container.chosen-container-single .chosen-single,
				.woocommerce-page .chosen-container.chosen-container-single .chosen-single,
				.woocommerce-checkout .form-row .chosen-container-single .chosen-single,
				.woocommerce ul.products li.product h4,
				.woocommerce div.product p[itemprop='price'] del,
				.woocommerce div.product p[itemprop='price'] del span.amount,
				.woocommerce div.product div.product_meta > span span,
				.woocommerce div.product div.product_meta > span a,
				.woocommerce aside ul.product_list_widget li > a,
				.woocommerce aside ul.product-categories li > a,
				.woocommerce aside ul.product_list_widget li del span.amount,
				.wpb_widgetised_column ul.product_list_widget li > a,
				.wpb_widgetised_column ul.product-categories li > a,
				.wpb_widgetised_column ul.product_list_widget li del span.amount,
				.shopping_cart_dropdown ul li a,
				.select2-drop{
				color: #5f5f5f;
				}
										a, p a{
			color: #5f5f5f;												}

							h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
				.q_icon_with_title .icon_with_title_link,
				.blog_holder article .post_description a:hover,
				.blog_holder.masonry article .post_info a:hover,
				.breadcrumb .current,
				.breadcrumb a:hover,
				.portfolio_social_holder a:hover,
				.latest_post_inner .post_infos a:hover{
				color: #5f5f5f;
				}
										a:hover,p a:hover,
			h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
			.q_tabs .tabs-nav li a:hover,
			.q_icon_with_title .icon_with_title_link:hover,
			.blog_holder article .post_description a:hover,
			.blog_holder.masonry article .post_info a:hover,
			.portfolio_social_holder a:hover,
			.latest_post_inner .post_infos a:hover{
			color: #003918;						}
		

		
				
				
		
		

					.testimonials_holder .flex-direction-nav a{
			border-radius: 0px;
			}
		
					.testimonials .testimonial_text_inner p{
			font-family: Roboto, sans-serif;font-size: 35px;line-height: 50px;font-weight: 600;font-style: normal;text-transform: none;color: #0a0a0a			}
		
					.testimonials .testimonial_text_inner p.testimonial_author{
			font-family: Lato, sans-serif;font-size: 20px;line-height: 45px;letter-spacing: 1px;font-weight: 700;font-style: normal;color: #0a0a0a			}
		
										
		
		
		
						.google_map{
				height: 750px;
				}
				
					.footer_inner{
			background-image:url(http://localhost:8888/coachgerardpineda/coachgerardpineda.com/wp-content/uploads/2019/10/footer-img-1-1.jpg);
			background-position: 0 0;
			}
			.footer_top_holder,.footer_bottom_holder, .content footer .container {
			background-color:transparent;
			}
		
		
					.footer_top,
			.footer_top.footer_top_full{
			padding-top: 119px;padding-bottom: 117px			}
		
							.footer_top,
			.footer_top p,
			.footer_top span,
			.footer_top li,
			.footer_top .textwidget,
			.footer_top .widget_recent_entries>ul>li>span {
			color: #b1b1b1;
			}
							.footer_top a
			{
			color: #aeaeae !important;
			}

			.footer_top .q_social_icon_holder .simple_social {
			color: #aeaeae;
			}
				
		
		
		
		

		
					.footer_top h5 {
			font-family: "Antic Didone", sans-serif;font-size: 18px;letter-spacing: 5px;font-weight: 400;text-transform: uppercase;color: #ffffff;font-style: normal			}
		
		
					.footer_top a {
			font-family: "Catamaran", sans-serif;font-size: 16px;line-height: 17px;font-weight: 300;text-transform: none;font-style: normal			}
		
		
		
		
		
		
		
					.side_menu,
			.side_menu #lang_sel,
			.side_menu #lang_sel_click,
			.side_menu #lang_sel ul ul,
			.side_menu #lang_sel_click ul ul{
			background-color: #ffffff;			}
					.side_menu .widget a:hover,
			.side_menu .widget li:hover,
			.side_menu .widget li:hover > a,
			.side_menu li:hover .q_font_awsome_icon i {
			color: #003918;			}
			

		

		
							.side_menu_slide_from_right .side_menu{
				right:-30%;
				width:30%;
				}
			
							.side_menu_slide_from_right .wrapper .cover{
				background-color:#000000;
				}
			
							.side_menu_slide_from_right.right_side_menu_opened .wrapper .cover{
				opacity:0.7;
				}
			
		
					.side_menu,
			.side_menu_slide_from_right .side_menu{
			padding-top:60px;padding-right:60px;padding-bottom:60px;padding-left:60px			}
		

												
							.blog_holder.blog_large_image h2,
			.blog_holder.blog_large_image h2 a,
			.blog_holder.blog_single article h2
			{
			font-family: Antic Didone;font-size: 43px;line-height: 53px;font-style: normal;font-weight: 400;letter-spacing: 5px;text-transform: uppercase;			}
							.blog_large_image h2 a,
			.blog_holder.blog_single article h2
			{
			color:#000000;
			}
							.blog_large_image h2 a:hover
			{
			color:#003918;
			}
							.blog_holder.blog_large_image article .post_text h2 .date,
			.blog_holder.blog_single article .post_text h2 .date
			{
			color:#c9c9c9;
			}
		
							.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_info,
			.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_info{
			font-family: Antic Didone;color: #5f5f5f;			}
							.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_info a,
			.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_info a{
			color:#5f5f5f;
			}
							.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
			.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span,
			.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
			.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span{
			color:#003918 !important;
			}
		
								
										
										
								
								
		
														
								
								
								
				
						
						
		/*Blog Masonry Gallery - end */

								
						
						
								
												
								

		
						
				
		

		
				

										
		

												
				
				
		
								
								
								
		
																																																				
					.blog_holder.blog_single article .post_text .post_text_inner{
			padding-top: 30px;
			}
					.blog_holder.blog_single article .post_info{
			margin-bottom: 20px;
			}
							.side_menu_button > a,
			.mobile_menu_button span,
			.fixed_top_header .side_menu_button > a,
			.fixed_top_header .popup_menu .line,
			.fixed_top_header .mobile_menu_button span{ color: #000000;font-size: 14px; }

			.popup_menu .line,
			.popup_menu .line:after, .popup_menu .line:before{
			background-color: #000000;
			}
					.side_menu_button > a:hover,
			.mobile_menu_button span:hover,
			.popup_menu:hover .line,
			.popup_menu:hover .line:after,
			.popup_menu:hover .line:before{ color: #003918; }

			.popup_menu:hover .line,
			.popup_menu:hover .line:after, .popup_menu:hover .line:before{
			background-color: #003918;
			}
		
		
		.vertical_menu_float .menu-item .second{
		left: calc(100% + 30px); /*because of the padding*/
		}

		.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
		left: calc(100% + 40px);
		}


		
		
		
		


							.vertical_menu_area{
			text-align:left;
			}
			
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
																													.portfolio_main_holder .item_holder.thin_plus_only .thin_plus_only_icon {
			font-family: 			}
						
			
			
							.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
				.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
				.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz{
				background-color: #fafafa;border-color: #fafafa;				}
			
							.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
				.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
				.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
				.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus{
				background-color: #fafafa;border-color: #fafafa;				}
			
			
			
			
			
			
			
			
			
																																																																													
		
		
				
		
		
		
				
					.side_menu_button .search_covers_header,
			.side_menu_button .search_slides_from_header_bottom,
			.side_menu_button .fullscreen_search,
			.side_menu_button .search_slides_from_window_top{
			font-size: 19px !important;
			}
		
					.qode_search_form_2 .qode_search_submit,
			.qode_search_form_3 .qode_search_close a,
			.fullscreen_search_holder .search_submit,
			.qode_search_form  i,
			.qode_search_form .qode_icon_in_search{
			color: #000000;
			}
		
					.qode_search_form_2 .qode_search_submit:hover,
			.qode_search_form_3 .qode_search_close a:hover,
			.fullscreen_search_holder .search_submit:hover,
			.qode_search_form .qode_icon_in_search:hover{
			color: #003918;
			}
		
		
					.qode_search_form_2 .qode_search_submit,
			.qode_search_form_3 .qode_search_close,
			.fullscreen_search_holder .search_submit,
			.qode_search_form i,
			.fixed_top_header .qode_search_form_3 .qode_search_close,
			.qode_search_form .qode_icon_in_search{
			font-size: 20px;
			}

		
		
		
					.fullscreen_search_holder .close_container a,
			.fullscreen_search_close,
			.qode_search_form_3 .qode_search_close a,
			.qode_search_form .qode_search_close i,
			.qode_search_form .qode_search_close .qode_icon_in_search{
			color: #000000;
			}
		
					.fullscreen_search_holder .close_container a:hover,
			.fullscreen_search_close:hover,
			.qode_search_form_3 .qode_search_close a:hover,
			.qode_search_form .qode_search_close i:hover,
			.qode_search_form .qode_search_close a:hover .qode_icon_in_search{
			color: #003918;
			}
		
					.fullscreen_search_holder .close_container a,
			.fullscreen_search_close,
			.qode_search_form_3 .qode_search_close,
			.qode_search_form  .qode_search_close i,
			.qode_search_form .qode_search_close .qode_icon_in_search{
			font-size: 20px !important;
			}
		
		
					.qode_search_form_2,
			.qode_search_form_2 input[type="text"],
			.qode_search_form_2 input[type="text"]:focus,
			.qode_search_form_3,
			.qode_search_form_3 input[type="text"],
			.qode_search_form_3 input[type="text"]:focus,
			.fullscreen_search_overlay,
			.fullscreen_search_holder.fade,
			.qode_search_form,
			.qode_search_form input,
			.qode_search_form input:focus{
			background-color: #ffffff;
			}
		
		
		
		
				
		
		
		
		
		
		
		
		


		
		
				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
					#back_to_top span i,
			#back_to_top span span{
			color: #000000;
			}
					#back_to_top:hover span i,
			#back_to_top:hover span span{
			color: #ffffff;
			}
					#back_to_top,
			#back_to_top.on,
			#back_to_top.off{
			right: 40px;
			}
					#back_to_top{
			bottom: 40px;
			}
		
					#back_to_top span i,
			#back_to_top span span{
			line-height: 40px;
			}
					#back_to_top > span{
			background-color: rgba(255,255,255,1);border-color: rgba(0,0,0,1);border-width:1px;border-style: solid;border-radius:1px;height:40px;line-height:40px;width:40px			}
					#back_to_top:hover > span{
			background-color: rgba(0,0,0,1);border-color: rgba(0,0,0,1)			}
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		

		
		
		
		
		

		
		

		
		
		
								
		
		
							aside .widget h5:not(.latest_post_title),
			.wpb_widgetised_column .widget h5:not(.latest_post_title){
			font-family: Antic Didone;font-size: 28px;line-height: 38px;font-style: normal;font-weight: 400;letter-spacing: 5px;text-transform: uppercase;color: #000000;			}
		
				
				
				
		.qode-pl-holder .qode-prl-loading .qode-prl-loading-msg, .qode-pl-holder .qode-pl-categories ul li a:hover, .qode-pl-holder .qode-pl-categories ul li a.active, .qode-pl-holder .qode-pli .qode-pli-rating, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-category, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-excerpt, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-price, .qode-pl-holder.qode-info-on-image:not(.qode-product-info-light) .qode-pli-rating, .qode-pl-holder.qode-info-below-image .qode-pli .qode-pli-text-wrapper .qode-pli-add-to-cart a:hover { color: #222222;}

								

					.qbutton,
			.qbutton.medium,
			#submit_comment,
			.load_more a,
			.blog_load_more_button a,
			.post-password-form input[type='submit'],
			input.wpcf7-form-control.wpcf7-submit,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]),
			.woocommerce table.cart td.actions input[type="submit"],
			.woocommerce input#place_order,
			.woocommerce-page input[type="submit"],
			.woocommerce .button
			{
				color: #000000; 							font-family: 'Lato', sans-serif;
			
				border-color: #fafafa; 
				font-size: 14px; 				line-height: 57px; 				height: 57px; 				font-style: normal; 				font-weight: 700; 				background-color: #fafafa; 				border-radius: 0px; 				-moz-border-radius: 0px; 				-webkit-border-radius: 0px; 				letter-spacing: 3px; 				text-transform: uppercase; 			 border-width: 1px;				padding-left: 37px; padding-right: 37px; 			}

			.qode-qbutton-main-color {
							font-family: 'Lato', sans-serif;
							font-size: 14px; 				line-height: 57px; 				height: 57px; 				font-style: normal; 				font-weight: 700; 				letter-spacing: 3px; 				text-transform: uppercase; 			}

		
					.qbutton:hover,
			.qbutton.medium:hover,
			#submit_comment:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			.post-password-form input[type='submit']:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.woocommerce table.cart td.actions input[type="submit"]:hover,
			.woocommerce input#place_order:hover,
			.woocommerce-page input[type="submit"]:hover,
			.woocommerce .button:hover
			{
			 color: #000000; 
			 border-color: #fafafa			}
		
					.qbutton:hover,
			#submit_comment:hover,
			.load_more a:hover,
			.blog_load_more_button a:hover,
			.post-password-form input[type='submit']:hover,
			input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
			.woocommerce table.cart td.actions input[type="submit"]:hover,
			.woocommerce input#place_order:hover,
			.woocommerce-page input[type="submit"]:hover,
			.woocommerce .button:hover
			{
			 background-color: #ffffff; 			}
													.qbutton.white{

				border-color: #ffffff; 				color: #0a0a0a; 				background-color: #ffffff; 			}
							.qbutton.white:hover,
			.portfolio_slides .hover_feature_holder_inner .qbutton:hover {

				border-color: #cccccc; 				color: #0a0a0a; 				background-color: #cccccc; 			}
						

						
		

		
		    .masonry_gallery_item.square_big h3 {
			color: #ffffff;font-size: 56px;line-height: 66px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 2px;		    }

		
		    .masonry_gallery_item.square_big .masonry_gallery_item_inner {
		    background-color: rgba(0,0,0,0.5);
		    }
		
				    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: left;		    }
		
		
		    .masonry_gallery_item.square_small h3 {
			color: #ffffff;font-size: 56px;line-height: 66px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 2px;		    }

		
		    .masonry_gallery_item.square_small .masonry_gallery_item_inner {
		    background-color: rgba(0,0,0,0.5);
		    }
		
				    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: left;		    }
		
		
				    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
		    .masonry_gallery_item.rectangle_landscape h3 {
			color: #ffffff;font-size: 56px;line-height: 66px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 2px;		    }

		
		    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner {
		    background-color: rgba(0,0,0,0.5);
		    }
		
				    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: left;		    }
		

	
						
		
		

				
.qode-accordion-holder .qode-title-holder { text-transform: none;font-style: normal;}

.qode-btn { font-size: 12px;font-family: Antic Didone;text-transform: uppercase;font-style: normal;letter-spacing: 3px;font-weight: 400;}

.qode-btn.qode-btn-solid { color: #003918;}

.qode-btn.qode-btn-solid:not(.qode-btn-custom-hover-color):hover { color: #000000!important;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-title, .qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-title-aux { color: #222222;-webkit-text-stroke-color: #222222;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-category-holder a { color: #222222;}

.qode-interactive-project-list .qode-ipl-inner .qode-ipl-left article .qode-ipl-item-inner .qode-ipl-item-text .qode-ipl-item-number-holder span { color: #222222;border-color: rgba(34, 34, 34, .2);}

.latest_post_holder.image_on_the_left_boxed .date_hour_holder, .latest_post_holder.image_on_the_left_boxed .featured .read_more:before { background-color: #222222;}



